body {
  background-image:url("Cloudy.jpg");
  background-size: 100%;
  font-family: "Titillium Web", sans-serif;
}

.weather-content{
  width: 80%;
  background-color: rgba(215, 235, 238, 0.5);
  margin-top: 5%;
  padding: 5%;
}

.temp-Today{
  font-size: 3rem;
}

.next-Temp{
  font-size: 2rem;
}